<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>

        <!--bulma cdn-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" />
        <!--font awesome cdn-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
            integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" 
            crossorigin="anonymous">
        <!--google fonts-->
        <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Teko:400,600" 
            rel="stylesheet">
        <!--local stylesheet-->
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
        <!--favicon-->
        <link rel='shrotcut icon' type='image/x-icon' href='/assets/img/favicon.ico' />
    </head>    

    <body>
        
        {{{ body }}}

    </body>

</html>
