<!-- define UI for app -->

    <div class="hero-head is-marginless"></div>
        <div class="block">
           
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="block bottom">
            <div class="columns">
                <div class="column is-1"></div>
                <div class="column is-4">
                    <a href="login" class="cover-btn sign-in btn-open">
                        <i class="fas fa-football-ball fa-fw"></i></i>
                        Sign in
                    </a>
                </div>
                <div class="column is 2">
                     <img src="/assets/img/logo-nflRed.png" alt="Roster it up logo" class="cvr-logo">
                </div>
                <div class="column is-4">
                    <a href="signup" class="cover-btn sign-up btn-open">
                        <i class="fas fa-pen-alt fa-fw"></i>
                        Sign up
                    </a>
                </div>
                <div class="column is-1"></div>
            </div> 
        </div>