
    <div class="block">
        <div class="columns">
            <div class="column is-2"></div>
            <div class="column is-8 slab">
                <h2>Sign up form</h2>
                <form action="/api/user" method="POST">
                    <div class="field">
                        <input type="text" class="input is-success in-info" placeholder="user name" name="user_name">
                    </div>
                    <div class="field">
                        <input type="password" class="input is-success in-info" placeholder="password" name="p">
                    </div>    
                    <div class="field">
                        <input type="password" class="input is-success in-info" placeholder="re-enter password">
                    </div>
                    <input type="text" class="input is-success in-info" placeholder="team name">
                </form>
                <button type="submit" class="stn-submit">Submit</button>
            </div>
            <div class="column is-2"></div>
        </div>
    </div>