
    <div class="block">
        <div class="columns">
            <div class="column is-1"></div>
            <div class="column is-10 slab">
                <h2>Choose your players</h2>
                <h4>Pick NFL teams to find players to add to your team</h4>
                <hr>
                <div class="columns">
                    <div class="column is-1"></div>
                    <div class="column is-10">
                    {{#each team}}
                        <span class="team-btn" value={{team_id}}>
                            <img src="/assets/img/team-logos/{{team_id}}.svg" class="team-logo" />
                            <h6 id="team-name">{{team_id}}</h6>
                        </span>
                    {{/each}}
                    </div>
                    <div class="column is-1"></div>
                </div>
            </div>
            <div class="column is-1"></div>
        </div>
    </div>
    <div class="block">
        <div class="columns">
            <div class="column is-1"></div>
            <div class="column is-5 slab">
                <h4><em>NFL team populates here</em></h4>
                <div id="nfl-populate"></div>
            </div>
            
            <div class="column is-5 slab">
                <h4><em>Your team populates here</em></h4>
                <div id="team-populate"></div>
                <a href="roster" class="stn-submit">
                        Create team
                </a>
            </div>
            <div class="column is-1"></div>
        </div>
    </div>