
    <div class="block">
        <div class="columns">
            <div class="column is-1"></div>
            <div class="column is-10 slab">
                <h2>Choose your players</h2>
                <h4>Pick NFL teams to find players to add to your team</h4>
                <hr>
                <h4><em>Buttons with team names and logos go here. Pressing the button will
                    toggle the team and populate the players below.
                </em></h4>
            </div>
            <div class="column is-1"></div>
        </div>
    </div>
    <div class="block">
        <div class="columns">
            <div class="column is-1"></div>
            <div class="column is-5 slab">
                <h4><em>NFL team populates here</em></h4>
                <div class="card profile">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column is-3">
                                <div class="prof-logo"></div>
                            </div>
                            <div class="column is-5">
                                <h5 class="player-info">Player's Name</h5>
                            </div>
                            <div class="column is-4">
                                    <h5 class="player-info">Player's Position</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="column is-5 slab">
                <h4><em>Your team populates here</em></h4>
                <div class="card profile">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column is-3">
                                <div class="prof-logo"></div>
                            </div>
                            <div class="column is-5">
                                <h5 class="player-info">Player's Name</h5>
                            </div>
                            <div class="column is-4">
                                <h5 class="player-info">Player's Position</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="home.html" class="stn-submit">
                        Create team
                </a>
            </div>
            <div class="column is-1"></div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" 
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" 
        crossorigin="anonymous"></script>
    <script src="/assets/javascript/app.js"></script>
