

.hero-img {
    background-image: url("../img/background-footballTexture.png");
    height: 100%;
    width: 100%;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.slab {
    /* height: 85vh; */
    margin-top: 5rem;
    text-align: center;
    border: .1rem solid rgba(190,190,215,.6);
    border-radius: 3rem;
    background-color: rgba(190,190,215,.6);
    padding: 4rem 0;
}
.in-info {
    height: 5rem;
    width: 70%;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3.7rem;
    margin-bottom: 3rem;
    opacity: .7;
}
.stn-submit {
    font-size: 2.7rem;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #013369;
    border: .2rem  solid #013369;
    background-color: #f0f0f0;
    border-radius: 1rem;
    padding: 1rem 4rem;
    margin: 5rem 5rem;
    transition: 1s;
}
.stn-submit:hover, .stn-submit:active {
    color: #f0f0f0;
    background-color: rgb(1, 51, 105);
}
.team-btn {
    height: 11rem;
    width: 8rem;
    display: inline-block;
    margin: 2rem;
    border: .2rem solid rgb(240, 240, 240);
    border-radius: 1rem;
    background-color: rgba(1, 51, 105,.3);
    transition: .7s;
}
.team-btn:hover {
    cursor: pointer;
    transform: scale(1.3);
    box-shadow: 1rem .3rem .4rem rgba(50,50,50, .4);
}
.team-btn.active {
    transform: scale(1.3);
    box-shadow: 1rem .3rem .4rem rgba(50,50,50, .4);
    background-color: rgba(240, 240, 240, .3);
}
.profile {
    height: 14rem;
    width: 90%;
    border: .2rem solid #D50A0A;
    background-color:#013369;
    border-radius: 1rem;
    margin: 0 auto 1rem auto;
}
.prof-logo {
    height: 11rem;
    width: 8rem;
    background-repeat: no-repeat;
}
.player-info {
    text-align: left;
}
.add-btn {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    color:  rgb(74, 114, 74);
    text-align: center;
    border: .2rem solid rgb(74, 114, 74);
    border-radius: 1rem;
    background-color: rgba(51, 68, 51, .3);
    transition: .7s;
}
.add-btn:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: rgb(91, 223, 91);
    border: .2rem solid rgb(91, 223, 91);
}
.add-btn.added {
    transform: scale(1.3);
    color: rgb(91, 223, 91);
    border: .2rem solid rgb(91, 223, 91);
    box-shadow: .2rem .1rem .2rem rgba(198, 255, 198, 0.4);
}
