


.sign {
    background-image: url("../img/sign.png");
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.slab {
    /* height: 85vh; */
    margin-top: 5rem;
    text-align: center;
    border: .1rem solid rgba(190,190,215,.6);
    border-radius: 3rem;
    background-color: rgba(255,255,255,.8);
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
}
.in-info {
    height: 5rem;
    width: 70%;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3.7rem;
    margin-bottom: 1.5rem;
    opacity: .7;
}
.stn-submit {
    font-size: 2.7rem;
    width: 25%;
    align-self: center;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #013369;
    border: .2rem  solid #013369;
    background-color: #f0f0f0;
    border-radius: 1rem;
    padding: 1rem 4rem;
    margin: 1.5rem 2.5rem;
    transition: 1s;
}
.stn-submit:hover, .stn-submit:active {
    cursor: pointer;
    color: #f0f0f0;
    background-color: rgb(1, 51, 105);
}
.team-btn {
    height: 11rem;
    width: 8rem;
    display: inline-block;
    margin: 2rem;
    border: .2rem solid rgb(240, 240, 240);
    border-radius: 1rem;
    background-color: rgba(1, 51, 105,.6);
    transition: .7s;
}
.team-btn:hover {
    cursor: pointer;
    transform: scale(1.3);
    box-shadow: 1rem .3rem .4rem rgba(50,50,50, .4);
}
.team-btn.active {
    transform: scale(1.3);
    box-shadow: 1rem .3rem .4rem rgba(50,50,50, .4);
    background-color: rgba(240, 240, 240, .3);
}
.profile {
    height: 14rem;
    width: 90%;
    border: .2rem solid #D50A0A;
    background-color:#013369;
    border-radius: 1rem;
    margin: 0 auto 1rem auto;
    display: flex;
    flex-direction: row;
}
.prof-logo {
    height: 11rem;
    width: 8rem;
    background-repeat: no-repeat;
}
.team-logo-small {
    height: 5rem;
    width: 5rem;
    float: left;
    margin-top: .6rem;
}
.player-info {
    text-align: left;
}
.player-position {
    text-align: right;
}
.add-btn {
    height: 4rem;
    width: 4rem;
    font-size: 3rem;
    color:  rgb(74, 114, 74);
    margin-top: 4rem;
    float: right;
    text-align: center;
    border: .2rem solid rgb(74, 114, 74);
    border-radius: 1rem;
    background-color: rgba(51, 68, 51, .3);
    transition: .7s;
}
.add-btn:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: rgb(91, 223, 91);
    border: .2rem solid rgb(91, 223, 91);
}
.add-btn.added {
    transform: scale(1.3);
    color: rgb(91, 223, 91);
    border: .2rem solid rgb(91, 223, 91);
    box-shadow: .2rem .1rem .2rem rgba(198, 255, 198, 0.4);
}

.remove-btn {
    height: 4rem;
    width: 4rem;
    font-size: 3rem;
    color:  rgb(223, 91, 91);
    text-align: center;
    margin-top: 4rem;
    float: right;
    border: .2rem solid rgb(223, 91, 91);
    border-radius: 1rem;
    background-color: rgba(51, 68, 51, 0.3);
    transition: .7s;
}
.remove-btn:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.info-btn {
    height: 4rem;
    width: 4rem;
    font-size: 3rem;
    margin-top: 1rem;
    position: absolute;
    color:  rgb(74, 105, 114);
    text-align: center;
    float: right;
    border: .2rem solid rgb(74, 105, 114);
    border-radius: 1rem;
    background-color: rgba(51, 68, 51, .3);
    transition: .7s;
}

.info-btn:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: rgb(91, 203, 223);
    border: .2rem solid rgb(91, 203, 223);
}
.info-btn.infoPop {
    cursor: pointer;
    transform: scale(1.3);
    color: rgb(91, 203, 223);
    border: .2rem solid rgb(91, 203, 223);
}
.popup {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popover-header {
    /* height: 3rem;
    width: 41rem;
    border: .2rem solid rgb(91, 203, 223);
    background-color: rgb(93,93,93);
    color: #fff;
    border-radius: 6px; */
    
}
.popover-body {
    /* visibility: hidden; */
    height: 33rem;
    width: 41rem;
    border: .2rem solid rgb(91, 203, 223);
    background-color: rgb(48, 48, 48);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    /* position: absolute; */
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@media all and (max-width: 98rem) {
    .slab {
        flex-wrap: wrap;
        flex-grow: 80%;
        width: 80%
    }
}

@media all and (max-width: 76.8rem) {
    .scale-left, .scale-center, .scale-righ {
        flex-wrap: nowrap;
        margin: 0rem;
    }
    .scale-left {
        flex-shrink: 25%;
        flex-grow: 25%;
        width: 25%;
    }
    .scale-center {
        flex-shrink: 50%;
        flex-grow: 50%;
        width: 50%;
    }
    .scale-right {
        flex-shrink: 33%;
        flex-grow: 33%;
        width: 33%;
    }
    .slab {
        flex-wrap: wrap;
        flex-grow: 96%;
        width: 96%
    }
}

@media all and (max-width: 64rem) {
    .player-info {
        font-size: 1.8rem
    }
    .slab {
        flex-wrap: wrap;
        flex-grow: 96%;
        width: 96%
    }
}

@media all and(max-width: 48rem) {
    .player-info {
        font-size: 1.2rem
    }
    .slab {
        flex-wrap: wrap;
        flex-grow: 96%;
        width: 96%
    }
}


/* .foot {
    height: 5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 1.2rem;
    border: .5rem solid rgb(1, 51, 105);
    background-color: #001327
} */